/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: verdana, arial, helvetica, sans-serif;
 }

body {
  margin: 3.5%;
  width: 100%;
}

a {
  color: black;
}

a:visited {
  color: grey;
}

h1, h2 {
  margin: 2% 0 2% 1%;
}

p, li {
  font-size: 0.7rem;
}

.top-text, .show-text {
  margin: 5%;
}



.link-button {
  margin: 5%;
}

th, td {
  padding: 0 1% 1.5%;
  font-size: 0.7rem;
}

table {
  margin: 3% 3% 4%;
  width: 70%;
}

form {
  margin-left: 0.5%
}

.input {
  margin: 2% 0;
}

.flash-message {
  color: green;
}

.error-box {
  width: 50%;
  border: solid 2px red;
}

.error-title {
  height: 40px;
  background-color: red;
  text-align: center;
  line-height: 40px;
}

.error-body {
  height: 100px;
  padding: 5% 14%;
  background-color: #f0f0f0;
}

.error-title-message {
 color: white;
}

.error-body-message {
  position: absolute;
  top: 45px;
  left: 15%;
}


li {
  margin: 0 auto;
}